.hero__container {
  width: 700px;
  margin-left: 22px;
}

.hero__div1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__home {
  font-family: "Segoe UI";
  font-size: 24px;
  font-weight: 700;
}

.menu__hero {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero__menu {
  cursor: pointer;
}

.hero__line1 {
  width: 750px;
  height: 1px;
  display: block;
  background-color: #d8d8d8;
  margin-left: -22px;
}

//////////////////////////////////////////////////////

.about {
  .hero__container {
    display: flex;
    align-items: center;
    gap: 400px;
  }

  &__gap {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__profi {
    margin-top: -45px;
  }

  &__heading {
    font-family: "Segoe UI";
    font-size: 22px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #828282;
    margin-top: 20px;
    margin-bottom: 51px;
    border: none;
    width: 200px;
    height: 40px;
    padding: 10px 10px;
    border-radius: 30px;
  }

  &__img {
    display: flex;
    gap: 20px;
  }

  &__button {
    padding: 15px 25px;
    width: 108px;
    height: 50px;
    border-radius: 40px;
    background-color: #1d9bf0;
    color: #fff;
    font-family: "Segoe UI";
    font-size: 17px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    margin-top: 100px;
  }

  &__line2 {
    width: 750px;
    height: 1px;
    display: block;
    background-color: #d8d8d8;
    margin-top: 20px;
    margin-left: -1px;
  }
}

///////////////////////////////////////////////////////////

.zoro {
  .hero__container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__img {
    margin-top: -70px;
  }

  &__fame {
    cursor: pointer;
  }

  &__stix {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__heading {
    font-family: "Segoe UI";
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
  }

  &__link {
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    opacity: 0.7;
  }

  &__text {
    font-family: 'Segoe UI';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    margin-top: 10px;
  }

  &__menu {
    margin-top: -500px;
  }

  &--logo {
    margin-top: -490px;
  }

  &--img {
    margin-bottom: 22px;
  }
}


.main {
  &--light {
    background-color: white;
    color: #000;
  }

  &--dark {
    background-color: black;
    color: #fff;

    .hero__home {
      color: #fff;
    }
    .about__heading {
      color: #fff;
    }
    .about__button {
      color: #fff;
    }
    .zoro__link {
      color: #fff;
    }
    .zoro__text {
      color: #fff;
    }

    .zoro__heading {
      color: #fff;
    }

    .about__heading {
      color: #fff;
      background-color: #000;
    }

    .select {
      background-color: #000;
      color: #fff;
      border: 1px solid #fff;
    }

  }
}