html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", "sans-serif";
  font-size: 18px;
  line-height: normal;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

// Container

.container {
  display: flex;
  width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}

.span {
  width: 1px;
  height: 960px;
  background-color: #d8d8d8;
  display: block;
  margin-left: 15px;
  margin-top: -1px;

  &_2 {
    width: 1px;
    height: 960px;
    background-color: #d8d8d8;
    margin-top: -1px;
  }
}

.body {
  &--light {
    background-color: white;
    color: #000;
  }

  &--dark {
    background-color: black;
    color: #fff;

    .hero__home {
      color: #fff;
    }
    .about__heading {
      color: #fff;
    }
    .about__button {
      color: #fff;
    }
    .zoro__link {
      color: #fff;
    }
    .zoro__text {
      color: #fff;
    }

  }
}
